extends ../layout.pug

block content
    h2 Crear un nuevo teacher
    form(action="/teachers/create", method="POST", novalidate)
        .form-group.mb-4 
            label.form-label Nombre
            input.form-control(
                type="text", 
                placeholder="Introduce el nombre",
                name="nombre")
        .form-group.mb-4
            label.form-label Apellidos
            input.form-control(
                type="text", 
                placeholder="Introduce los apellidos",
                name="apellidos")
        .form-group.mb-4 
            label.form-label Edad
            input.form-control(
                type="number", 
                placeholder="Introduce tu edad",
                name="edad")
        .form-group.mb-4 
            label.form-label Especialidad
            input.form-control(
                type="text", 
                placeholder="Introduce tu especialidad",
                name="especialidad")
        input.btn.btn-block.btn-info(type="submit", value="Crear")